* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Host Grotesk", sans-serif;
}


.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 10px;
}

.all-btn {
    background-color: #E8BA2E;
    color: #000102;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

/* navbar section  */

.navbar-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;

}

.navbar-section .container {
    padding: 20px;
}

.navbar-section ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: auto;
}

.navbar-section img {
    width: 155px;
    height: 48px;
}

.navbar-section a {
    text-decoration: none;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: #575757;
}

/* banner section  */

.banner-section {
    background: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    margin: 0 10px;
    border-radius: 10px;

}

.banner-section h1{
    font-size: 88px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -4%;
    color: #ffffff;
}

.banner-section p{
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    padding: 25px 0;
}

.banner-section .container{
    padding-left: 40px;
    padding-top: 180px;
    padding-bottom: 40px;
}


/* statistic section  */

.statistic-section{
    background-color: #F4C430;
    margin: 10px 10px;
}

.statistic-section .container{
    padding: 30px;
}

.statistic-section .row{
    display: flex;
    margin-right: auto;
}

.statistic-section .box{
    margin-right: 140px;
    
}

.statistic-section p{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.3px;
    color: #000102;
    opacity: 60%;
    padding-bottom: 15px;
    white-space: nowrap;
}

.statistic-section h2{
    font-size: 72px;
    line-height: 115%;
    letter-spacing: -2px;
    font-weight: bold;
    color: #000102;
    white-space: nowrap;
}


/* host cities section  */

.host-cities-section{
    margin: 60px 80px;
}

.host-cities-section h2{
    font-size: 56px;
    font-weight: 500;
    line-height: 115%;
    color: #000102;
    padding-bottom: 40px;
    text-align: center;
}

.host-cities-section .parent-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.host-cities-section img{
    width: 450px;
    height: 301px;
}

.host-cities-section h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1%;
    color: #000102;
}

.host-cities-section p{
    font-size: 16px;
    line-height: 150%;
    color: #575757;
    padding: 15px 0;
}

.host-cities-section ul{
    font-size: 17px;
    line-height: 150%;
    color: #4D4D4D;
    list-style: none;
}

.host-cities-section .btn-div{
    text-align: center;
}

/* matches section  */

.matches-section {
    margin: 80px;
    padding: 20px 10px;
    padding-top: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.matches-section h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.64px;
    color: #111C2D ;
}

.matches-section p {
    font-size: 16px;
    line-height: 24px;
    color: #505F76 ;
    padding: 20px 0;
}

.matches-section table {
    width: 100%;
    border-collapse: collapse;
}

.matches-section th {
    background: #A73131 ;
    color:#ffffff ;
    padding: 16px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.14px;
    border: 1px solid black;
}

.matches-section td{
    padding: 18px;
    border: 1px solid black;
}

.matches-section tr:hover{
    background:#f6f4f4;
}


/* footer section  */

.footer-section{
    background: #000102;
    color: #ffffff;
    padding: 50px;
    padding-bottom: 0;
}

.footer-section .logo-icon-section, .socket-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer-section ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

.footer-section .logo-icon-section a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.footer-section .logo-icon-section .facebook{
    background-color: blue;
}

.footer-section .logo-icon-section .linkedin{
    background-color: #222528;
}

.footer-section .logo-icon-section .youtube{
    background-color: #222528;
}

.footer-section hr{
    opacity: 20%;
}

.footer-section .socket-section p,
.footer-section .socket-section a{
    font-size: 16px;
    line-height: 170%;
    letter-spacing: -0.4%;
    opacity: 60%;
    color: #ffffff;
    text-decoration: none;
    font-family: "Geist", sans-serif;
}












