* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Host Grotesk", sans-serif;
}


.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 10px;
}

.all-btn {
    background-color: #E8BA2E;
    color: #000102;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

/* navbar section  */

.navbar-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;

}

.navbar-section .container {
    padding: 20px;
}

.navbar-section ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: auto;
}

.navbar-section img {
    width: 155px;
    height: 48px;
}

.navbar-section a {
    text-decoration: none;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: #575757;
}

/* banner section  */

.banner-section {
    background: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    margin: 0 10px;
    border-radius: 10px;

}

.banner-section h1{
    font-size: 88px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -4%;
    color: #ffffff;
}

.banner-section p{
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    padding: 25px 0;
}

.banner-section .container{
    padding-left: 40px;
    padding-top: 180px;
    padding-bottom: 40px;
}


/* statistic section  */

.statistic-section{
    background-color: #F4C430;
    margin: 10px 10px;
}

.statistic-section .container{
    padding: 30px;
}

.statistic-section .row{
    display: flex;
    margin-right: auto;
}

.statistic-section .box{
    margin-right: 140px;
    
}

.statistic-section p{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.3px;
    color: #000102;
    opacity: 60%;
    padding-bottom: 15px;
    white-space: nowrap;
}

.statistic-section h2{
    font-size: 72px;
    line-height: 115%;
    letter-spacing: -2px;
    font-weight: bold;
    color: #000102;
    white-space: nowrap;
}